{% extends 'submission/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">Submission Detail: {{ submission.title }}</h2>
    <p><strong>Submitted on:</strong> {{ submission.submission_time }}</p>

    <div class="accordion" id="accordionText">
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ submission.id }}" aria-expanded="true" aria-controls="collapse{{  submission.id }}">
                Text Submitted
              </button>
            </h2>
            <div id="collapse{{ submission.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionText">
              <div class="accordion-body">
                {{ submission.submission_text }}
              </div>
            </div>
        </div>
    </div>

    <!-- Readability Scores Section -->
    <div class="container mt-3">
        <h2 class="mb-3">Readability Scores</h2>
    </div>
    
    <div class="container text-left">
        {% for key, value in submission.readability_scores.items %}
            <div class="row align-items-start">
                <div class="col">
                  <strong>{{ key|title }}:</strong>
                </div>
                {% for item in value %}
                    <div class="col">
                        {{ item.score }}
                        <span class="badge bg-secondary">{{ item.source }}</span>
                    </div>
                {% endfor %}
              </div>
        {% endfor %}
    </div>

    <!-- Readability TestInfo Section -->
    <div class="container mt-3">
        <h2 class="mb-3">Test Information</h2>
    </div>

    <div class="accordion" id="accordionTextExplain">
        {% for testinfo in testinfos %}
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ testinfo.id }}" aria-expanded="true" aria-controls="collapse{{ testinfo.id }}">
                {{ testinfo.display_name }}
              </button>
            </h2>
            <div id="collapse{{ testinfo.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionTextExplain">
              <div class="accordion-body">
                  <p>{{ testinfo.description }}</p>
                  <a href={{ testinfo.more_info_link }}>More Info </a>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
